numpy>=1.21.2           # Numerical computations
pandas>=1.3.0           # Data manipulation
matplotlib>=3.4.3       # Visualization
seaborn>=0.11.2         # Advanced visualization
scikit-learn>=1.0       # Machine learning library
xgboost>=1.5.0          # Gradient boosting for classification
tensorflow>=2.7.0       # Deep learning framework (if using neural networks)
flask>=2.0.2            # Lightweight web framework for deployment
gunicorn>=20.1.0        # WSGI server for running Flask apps in production
jupyterlab>=3.2.1       # Interactive environment for development
joblib>=1.1.0           # Saving and loading models
imbalanced-learn>=0.9.0 # Handling imbalanced datasets
#-e .